<!DOCTYPE html>
<html>
<head>
  <title>Project</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">MOOC</a>
    </div>
   
    <ul class="nav navbar-nav">
    <% if current_user%>
      <li> <a>Welcome <%= current_user.username%> </a></li>
      <% end %>
      <li> <%= link_to 'Courses', courses_path %> </li>
      <li> <%= link_to 'Lectures', lectures_path %> </li>
 	    <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
    </ul>

  </div>
</nav>
<%= yield %>
<footer>
 <small>&copy; Copyright 2017,Rowan Mamdouh ,OpenSource Intake 37</small>
</footer>
</body>
</html>
